<P class="footer">

    © Mello! 2021 
    <span class="social-icons">
        <a  href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a  href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
        <a  href="https://www.instagram.com/" class="fa fa-instagram"></a>
    </span>
   

</P>
</body>
</html>