<% include ../partials/header %>

<div class="container container-comment">
    <div class="row">
        <h1 style="text-align: center">Add a new comment to <%= campground.name %></h1>
        <div style="width: 30%; margin: 20px auto;" >
            <form action="/campgrounds/<%= campground._id %>/comments " method="POST">
                <div class="form-group comment">
                    <input class="form-control comment-box" type="text" name = "comment[text]" placeholder="text">
                </div>
                <div class="form-group">
                    <button class = "btn btn-lg btn-default btn-primary">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
        
    </div>
</div>
<% include ../partials/footer %> 