<% include partials/header %>


<div class="background-image">

    <div class="section">

        <h1 class="animate__animated animate__backInUp">Welcome to Mello!</h1>

    </div>

    <div class="video-container">

            <video class="myVideo" autoplay loop muted>
                <source src="https://player.vimeo.com/external/537877786.sd.mp4?s=3ed7188ad4ffd78b8951d6b955947ad963bcc674&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
            </video>

    </div>

    <div class="button animate__animated animate__flash">
        
        <h3 class="animate__animated animate__flash"> <a href = "/campgrounds"> View Projects </a> </h3> 
        
    </div>

</div>



<% include partials/footer %>