<% include ./partials/header %>



<div class="wrap-login">
<form action="/login" method="POST">
    
    <div class="form-header">
        <h2>Login Form</h2>
        <p>Login to access your dashboard</p>
    </div>
    
    <div class="form-group">
    <input class="form-input" type="text" name = "username" placeholder = "username">
    </div>
    
    <div class="form-group">
    <input class="form-input" type="password" name = "password" placeholder = "password">
    </div>
   
    <div class="form-group">
        <button class="form-button">Login</button>
    </div>
    
    <div class="form-footer">
       <h4>Don't have an account? <a href="register">Sign Up</a></h4> 
        </div>

</form> 

</div>

<% include ./partials/footer %>