<% include ./partials/header %>

<div class="wrap">

<form action="/register" method="POST">
    
    <div class="form-header">
        <h3>Sign-Up</h3>
        <p>Register to access your dashboard</p>
    </div>
    
    <div class="form-group">
    <input class="form-input" type="text" name = "username" placeholder="username">
    </div>
    
    <div class="form-group">
    <input class="form-input" type="password" name = "password" placeholder="password">
    </div>
    
    <div class="form-group">
    <button class="form-button">Register</button>
    </div>

    <div class="form-footer">
       <h4>Already have an account? <a href="login">Login</a></h4> 
    </div>

</form>  

</div>








<% include ./partials/footer %>